tags:
  # mongodb is the switch for installing mongodb for zadig, if an external database is provided, set this to false
  mongodb: true
  # minio is the switch for installing minIO for zadig, if an external object storage is provided, set this to false
  minio: true
  # mysql is the switch for installing mysql for zadig, if an external database is provided, set this to false
  mysql: true
  # redis is the switch for installing mysql for zadig, if an external cache is provided, set this to false
  redis: true
endpoint:
  # endpoint.type is the type of Zadig system endpoint. It can be of type FQDN or IP. By default the type is FQDN.
  type: FQDN
  # FQDN is the domain name the user choose to visit in. It must be set if endpoint is of type FQDN.
  FQDN: poc.example.com
  # IP is the ip of one of the cluster's worker node. It must be set if the endpoint is of type IP. By default it is empty.
  IP: ""
global:
  encryption:
    key: 9F11B4E503C7F2B577E5F9366BDDAB64
  image:
    registry: koderover.tencentcloudcr.com/koderover-public
    pullPolicy: Always
  extensions:
    extAuth:
      extauthzServerRef:
        name: auth-server
        # Mandatory, set it to the namespace where the chart is installed.
        namespace: zadig
      requestTimeout: 5s
  builtInImage:
    ubuntuBase: koderover.tencentcloudcr.com/koderover-public/build-base:${BuildOS}-with-kubectl
    buildKitImage: koderover.tencentcloudcr.com/koderover-public/buildkit:buildx-stable-1
# protocol is the internet protocol used to access zadig
protocol: http
# possible value for the loglevel:
# - debug
# - info
# - warn
# - error
# - dpanic
# - panic
# - fatal
logLevel: info
## Additional labels to include with deployment or statefulset
additionalLabels: {}
## Additional annotations to include with deployment or statefulset
additionalAnnotations: {}
# Additational pod annotations
podAnnotations: {}
# Additional pod labels
podLabels: {}
## Node labels for pod assignment
## Ref: https://kubernetes.io/docs/user-guide/node-selection/
##
nodeSelector: {}
tolerations: []
affinity: {}
microservice:
  aslan:
    image:
      repository: aslan
      tag: 4.0.0-RELEASE.1
    serviceStartTimeout: 600
    replicas: 1
    storageClass: ""
    existingClaim: ""
    persistence:
      size: 20G
    resources:
      limits:
        cpu: 2
        memory: 4Gi
      requests:
        cpu: 100m
        memory: 128Mi
  cron:
    image:
      repository: cron
      tag: 4.0.0-RELEASE.1
    resources:
      limits:
        cpu: 2
        memory: 2Gi
      requests:
        cpu: 10m
        memory: 10Mi
  dind:
    image:
      repository: docker
      tag: 20.10.14-dind
    resources:
      limits:
        cpu: 4
        memory: 8Gi
      requests:
        cpu: 100m
        memory: 128Mi
  hubAgent:
    image:
      repository: hub-agent
      tag: 4.0.0-RELEASE.1
  hubServer:
    image:
      repository: hub-server
      tag: 4.0.0-RELEASE.1
    replicas: 1
    resources:
      limits:
        cpu: 2
        memory: 2Gi
      requests:
        cpu: 10m
        memory: 100M
  zadigAgent:
    repoURL: https://resources.koderover.com/dist
    version: v4.0.0-RELEASE.1
  executor:
    image:
      repository: executor
      tag: 4.0.0-RELEASE.1
  user:
    image:
      repository: user
      tag: 4.0.0-RELEASE.1
    resources:
      limits:
        cpu: 1
        memory: 512Mi
      requests:
        cpu: 200m
        memory: 256Mi
  plutusVendor:
    image:
      repository: plutus-vendor
      tag: 4.0.0-RELEASE.1
    resources:
      limits:
        cpu: 1
        memory: 1024Mi
      requests:
        cpu: 100m
        memory: 100Mi
  vendorPortal:
    image:
      repository: vendor-portal
      tag: 4.0.0-RELEASE.1
    resources:
      limits:
        cpu: 1
        memory: 512Mi
      requests:
        cpu: 10m
        memory: 10Mi
  opa:
    image:
      tag: 0.33.1-envoy
init:
  image:
    repository: init
    tag: 4.0.0-RELEASE.1
frontend:
  image:
    repository: zadig-portal
    tag: 4.0.0-RELEASE.1
  resources:
    limits:
      cpu: 1
      memory: 512Mi
    requests:
      cpu: 10m
      memory: 10Mi
ua:
  image:
    repository: ua
    tag: 4.0.0-RELEASE.1
  resources:
    limits:
      cpu: 4
      memory: 8192Mi
    requests:
      cpu: 200m
      memory: 512Mi
timeNlp:
  image:
    repository: time-nlp
    tag: 4.0.0-RELEASE.1
  resources:
    limits:
      cpu: 1
      memory: 1Gi
    requests:
      cpu: 100m
      memory: 128Mi
connections:
  mysql:
    host: kr-mysql:3306
    auth:
      user: root
      password: zadig
    db:
      user: user
      dex: dex
  mongodb:
    connectionString: mongodb://root:zadig@kr-mongodb:27017
    db: zadig
    enableTransaction: false
  redis:
    host: kr-redis
    port: 6379
    user: ""
    password: ""
    db:
      token: 0
      cache: 1
# minio customize values
# reference: https://github.com/minio/minio/blob/master/helm/minio/values.yaml to set the required values.
minio:
  image:
    repository: koderover.tencentcloudcr.com/koderover-public/minio
  mcImage:
    repository: koderover.tencentcloudcr.com/koderover-public/mc
  mode: standalone
  # endpoint is the endpoint for the minio, if the user choose to provide their own minio
  endpoint: kr-minio:9000
  replicas: 1
  bucket: bucket
  # buckets is the required bucket list after minio installation. By default, zadig initialize a bucket called bucket to store objects.
  buckets:
    - name: bucket
      policy: public
      purge: false
      versioning: true
      objectlocking: false
  # data persistence related parameter
  persistence:
    enabled: true
    size: 20Gi
    storageClass: ""
  # since the default memory request is 16Gi, we change it to a reasonable value
  resources:
    requests:
      memory: 256Mi
  fullnameOverride: kr-minio
  # username must be at least 3 characters long
  rootUser: admin
  # root password must be at least 8 characters long
  rootPassword: zadig666
  # the default access information to be used
  # DO NOT DELETE THE FIRST USER OTHERWISE THE SYSTEM WILL BE BROKEN
  users:
    - accessKey: AKIAIOSFODNN72019EXAMPLE
      secretKey: wJalrXUtnFEMI2019K7MDENGbPxRfiCYEXAMPLEKEY
      policy: readwrite
  protocol: http
mongodb:
  rootPassword: zadig
  persistence:
    enabled: true
    size: 20Gi
  fullnameOverride: kr-mongodb
  image:
    repository: mongo
    tag: 4.4.29
mysql:
  rootPassword: zadig
  persistence:
    enabled: true
    size: 20Gi
  fullnameOverride: kr-mysql
  image:
    repository: mysql
    tag: "8.0"
# default cache installation settings
redis:
  image:
    repository: redis
    tag: 7.2.5
  fullnameOverride: kr-redis
  resources:
    limits:
      cpu: 1
      memory: 2Gi
    requests:
      cpu: 500m
      memory: 128Mi
# this setting is import to ensure zadig can upgrade to zadig
nameOverride: zadig
ee:
  autoSyncClient: true
  mongodb:
    db: "plutus_zadig"
dex:
  fullnameOverride: zadig-dex
  image:
    repository: koderover.tencentcloudcr.com/koderover-public/dex
    tag: 4.0.0-RELEASE.1
    pullPolicy: Always
  config:
    issuer: http://zadig-dex:5556/dex
    oauth2:
      skipApprovalScreen: true
    storage:
      type: mysql
      config:
        host: kr-mysql
        port: 3306
        database: dex
        user: root
        password: zadig
        ssl:
          mode: "false"
    web:
      http: 0.0.0.0:5556
    staticClients:
      - id: zadig
        redirectURIs:
          - "http://poc.example.com/api/v1/callback"
        name: "zadig"
        secret: ZXhhbXBsZS1hcHAtc2VjcmV0
    enablePasswordDB: true
gloo:
  settings:
    singleNamespace: true
  gatewayProxies:
    gatewayProxy:
      gatewaySettings:
        customHttpGateway:
          options:
            httpConnectionManagerSettings:
              streamIdleTimeout: 60m
        customHttpsGateway:
          options:
            httpConnectionManagerSettings:
              streamIdleTimeout: 60m
      podTemplate:
        image:
          repository: gloo-envoy-wrapper
          tag: 1.9.1-multiarch
  gateway:
    certGenJob:
      image:
        repository: certgen
        tag: 1.9.1-multiarch
    deployment:
      image:
        repository: gateway
        tag: 1.9.1-multiarch
  discovery:
    deployment:
      image:
        repository: discovery
        tag: 1.9.1-multiarch
  gloo:
    deployment:
      image:
        repository: gloo
        tag: 1.9.1-multiarch
