apiVersion: v1
kind: ConfigMap
metadata:
  name: aslan-config
  labels:
    {{- include "zadig.microservice.aslan.labels" . | nindent 4 }}
data:
  # --------------------------------------------------------------------------------------
  # service configs
  # --------------------------------------------------------------------------------------
  SERVICE_START_TIMEOUT: {{ default "300" .Values.microservice.aslan.serviceStartTimeout | quote }}
  LOG_LEVEL: {{ .Values.logLevel }}
  CHART_VERSION: {{ .Chart.AppVersion }}
  ZADIG_AGENT_VERSION: {{ .Values.microservice.zadigAgent.version }}
  ZADIG_AGENT_REPO_URL: {{ .Values.microservice.zadigAgent.repoURL }}
  ## default s3
  S3STORAGE_ENDPOINT: {{ .Values.minio.endpoint }}
  S3STORAGE_AK: {{ (first .Values.minio.users).accessKey }}
  S3STORAGE_SK: {{ (first .Values.minio.users).secretKey }}
  S3STORAGE_BUCKET: {{ .Values.minio.bucket }}
  S3STORAGE_PROTOCOL: {{ .Values.minio.protocol }}

  # --------------------------------------------------------------------------------------
  # common
  # --------------------------------------------------------------------------------------
  ADDRESS: {{ default "http" .Values.protocol }}://{{- include "zadig.endpoint" . }}
  IMAGE_PULL_POLICY: {{ .Values.global.image.pullPolicy }}

  # --------------------------------------------------------------------------------------
  # mongo
  # --------------------------------------------------------------------------------------
  MONGODB_CONNECTION_STRING: {{ .Values.connections.mongodb.connectionString }}
  ASLAN_DB: {{ default "zadig" .Values.connections.mongodb.db }}
  ENABLE_TRANSACTION: {{ default false .Values.connections.mongodb.enableTransaction | quote }}

  # --------------------------------------------------------------------------------------
  # base images
  # --------------------------------------------------------------------------------------
  BUILD_BASE_IMAGE: {{ .Values.global.builtInImage.ubuntuBase }}
  BUILD_KIT_IMAGE: {{ .Values.global.builtInImage.buildKitImage }}
  HUB_AGENT_IMAGE: {{ .Values.global.image.registry }}/{{ .Values.microservice.hubAgent.image.repository }}:{{ .Values.microservice.hubAgent.image.tag | default .Chart.AppVersion }}
  EXECUTOR_IMAGE: {{ .Values.global.image.registry }}/{{ .Values.microservice.executor.image.repository }}:{{ .Values.microservice.executor.image.tag | default .Chart.AppVersion }}
  DIND_IMAGE: {{ .Values.global.image.registry }}/{{ .Values.microservice.dind.image.repository }}:{{ .Values.microservice.dind.image.tag | default .Chart.AppVersion }}

  # -------------------------------------------------------------------------------
  # mysql settings due to the merge of user/config service
  # -------------------------------------------------------------------------------
  MYSQL_USER_DB: {{ .Values.connections.mysql.db.user }}
  MYSQL_DEX_DB: {{ .Values.connections.mysql.db.dex }}
  MYSQL_HOST: {{ .Values.connections.mysql.host }}
  MYSQL_USER: {{ .Values.connections.mysql.auth.user }}
  MYSQL_PASSWORD: {{ .Values.connections.mysql.auth.password | quote }}

  # -------------------------------------------------------------------------------
  # REDIS
  # -------------------------------------------------------------------------------
  REDIS_HOST: {{ .Values.connections.redis.host }}
  REDIS_PORT: {{ .Values.connections.redis.port | quote }}
  REDIS_USERNAME: {{ .Values.connections.redis.user | quote }}
  REDIS_PASSWORD: {{ .Values.connections.redis.password | quote }}
  REDIS_COMMON_CACHE_DB: {{ .Values.connections.redis.db.cache | quote }}
