apiVersion: apps/v1
kind: Deployment
metadata:
  name: time-nlp
  labels:
    {{- include "zadig.time.nlp.labels" . | nindent 4 }}
{{- if .Values.additionalLabels }}
{{ toYaml .Values.additionalLabels | trimSuffix "\n" | indent 4 }}
{{- end }}
{{- if .Values.additionalAnnotations }}
  annotations:
{{ toYaml .Values.additionalAnnotations | trimSuffix "\n" | indent 4 }}
{{- end }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "zadig.time.nlp.selectorLabels" . | nindent 6 }}
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        {{- include "zadig.time.nlp.selectorLabels" . | nindent 8 }}
{{- if .Values.podLabels }}
{{ toYaml .Values.podLabels | indent 8 }}
{{- end }}
{{- if .Values.podAnnotations }}
      annotations:
{{ toYaml .Values.podAnnotations | trimSuffix "\n" | indent 8 }}
{{- end }}
    spec:
      containers:
        - image: {{ .Values.global.image.registry }}/{{ .Values.timeNlp.image.repository }}:{{ .Values.timeNlp.image.tag }}
          imagePullPolicy: {{ .Values.global.image.pullPolicy  | default "Always" }}
          name: time-nlp
          ports:
            - protocol: TCP
              containerPort: {{ template "zadig.time.nlp.port" . }}
          livenessProbe:
            httpGet:
              path: /api/health
              port: {{ template "zadig.time.nlp.port" . }}
            initialDelaySeconds: 30
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 6
          resources:
            limits:
              cpu: {{ .Values.timeNlp.resources.limits.cpu }}
              memory: {{ .Values.timeNlp.resources.limits.memory }}
            requests:
              cpu: {{ .Values.timeNlp.resources.requests.cpu }}
              memory: {{ .Values.timeNlp.resources.requests.memory }}
{{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
{{- end }}
{{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
{{- end }}
{{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
{{- end }}
